body,
html {
  font-family: 'Manjari', sans-serif;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  color: rgb(240, 240, 250);
}

h3 {
  background-color: rgb(45, 65, 95);
  font-family: 'Raleway', sans-serif;
  width: 100%;
  padding: 20px 0px;
  font-size: 18px;
  letter-spacing: 5px;
  margin: 10px 0px;
  text-align: center;
}

input {
  font-family: 'Manjari', sans-serif;
  letter-spacing: 1px;
  padding: 5px 8px 0px;
  font-size: 16px;
  margin: 10px 0px;
  border-radius: 8px;
  border: none;
}

.txtInput {
  width: 130px;
  letter-spacing: 1px;
  text-align: center;
}

.inputTable {
  margin: 30px 20px 20px 30px;
  width: 100%;
  border-collapse: collapse;
}

.inputTable td {
  padding: 10px;
}

.inputTable tr {
  padding: 20px 0px;
}

.inputTable th {
  text-align: left;
  margin-right: 0px;
}

#billsInputTable {
  margin-top: 0px;
}

.checkboxInput {
  height: 20px;
}

.checkBoxStyle {
  background-color: rgba(117, 192, 137, 0.75);
}

.billDate {
  font-size: 85%;
  letter-spacing: 0;
  width: 40px;
  font-weight: bold;
  font-family: 'Arial Narrow Bold', sans-serif;
  border: 0px solid white;
  color: rgb(45, 65, 95);
  padding: 3px 4px 3px;
  border-radius: 40px;
  background-color: rgba(240, 240, 250, 0.95);
}

#categoryTable {
  width: 100%;
  text-align: center;
}

#categoryTable th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.catCat {
  text-align: left;
  padding-left: 15px;
}

#btnChangeCategoryName {
  color: rgb(45, 65, 95);
  padding: 5px 5px 3px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-color: rgb(117, 192, 137);
  border-radius: 8px;
}

#newName {
  background-color: #313f55;
}
#newName td {
  border: 1px solid #313f55;
}

#dataEntry {
  margin: 0px;
  padding: 0px 0px;
  width: 100%;
}

.dataBox {
  font-size: 16px;
  padding: 5px 0px;
  background-color: #212f45;
  margin: 0px;
}

#db2 {
  /*nothing*/
}

#dvBudgetMain {
  margin-left: 0px;
  padding: 0px;
  overflow-x: hidden;
  margin-bottom: 0px;
  background-color: #212f45;
}

#btnBudget {
  background-color: rgba(51, 187, 65, 0.7);
  color: #212f45;
  border: white 0px solid;
  border-radius: 8px;
  font-weight: bold;
  height: 40px;
  width: 70%;
  text-align: center;
  font-size: 20px;
  margin-left: 15%;
  margin-right: auto;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

#cashTable {
  font-size: 14px;
  color: rgb(240, 240, 250);
  font-weight: bold;
  margin: 0;
  width: 100%;
  max-width: 100%;
  table-layout: auto;
  height: 600px;
  border-collapse: collapse;
  border-spacing: 0px;
}

#cashTable th {
  border: 0px;
  border: rgba(255, 255, 255, 0.1) solid 1px;
  background-color: rgba(117, 192, 137, 0.75);
  color: rgb(240, 240, 250);
  font-size: 16px;
  padding: 2px 4px;
  height: 10px;
  text-align: center;
  letter-spacing: 1px;
}

#cashTable td {
  font-weight: normal;
  border: 0px;
  border: rgba(255, 255, 255, 0.1) solid 1px;
  padding: 2px 4px;
  height: 10px;
  margin: 0px;
  text-align: center;
}

#totalRow td {
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(117, 192, 137, 0.75);
}

.tblRow {
  background-color: rgba(240, 240, 240, 0.1);
}

.cats {
  text-align: left;
}

#dataContainer {
  padding-top: 0px;
}

#dvBudgetOut {
  border-radius: 8px;
  background-color: rgba(240, 240, 240, 0.1);
  padding: 20px;
  display: none;
  font-size: 16px;
  margin: 20px 20px 0px;
}

#footer {
  padding: 5px 10px 15px;
  text-align: center;
  letter-spacing: 1px;
  margin-left: 0px;
  margin-bottom: 0px;
  background-color: #212f45;
}

hr {
  border-collapse: collapse;
  border: 0.5px solid rgba(240, 240, 250, 0.95);
  margin: 0px 0px 15px;
}
